@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(1, 1, 30);
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    flex-wrap: wrap;
}
/* #img-fundo{
    background-image: url('../img/ekhytera_background_pattern1.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
} */
#bemVindo{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 545px;
    height: 720px;
    left: 50px;
    background: rgba(0, 0, 0, 0.01);
    border: 2px solid #E0E1DD;
    backdrop-filter: blur(12.5px);
    border-radius: 47px;
    color: white;
}
#bemVindo p{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}
#login{
    display: flex;
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 728px;
    top: 0px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(12.5px);
    flex-direction: column;
    color: white;
}
#login img{
    margin: 5% auto;
    object-fit: cover;
    width: 187px;
}
#login div{
    display: flex;
    margin: 10px auto;
    align-items: start;
    flex-direction: column;
}
div label{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
div input{
    width: 460px;
    height: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
button{
    width: 50%;
    height: 45px;
    margin: 10px auto;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(121,167,221,1) 0%, rgba(65,90,119,1) 100%);
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
/* @media (min-width: 1440px){
    #bemVindo{
        top: 0;
        left: 0;
        height: 100vh;
        width: 40%;

    }
    #login{
        left: 30%;   
        height: 100vh;
        width: 60%;
    }
} */
@media (min-width: 1025px) and (max-width:1439px){
    #bemVindo{
        left: 0;
        width: 40%;
        height: 100vh;
    }
    #login{
        left: 45%;
        height: 100%;
        width: 55%;
    }
    div input{
        background: rgba(255, 255, 255, 0.2);
    }
}
@media (min-width: 601px) and (max-width:1024px){
    #bemVindo{
        left: 0;
        width: 25%;
        height: 100%;
    }
    #login{
        left: 25%;
        height: 100%;
        width: 75%;
    }
    div{
        width: 50%;
    }
    div input{
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
    }
}
@media (max-width: 600px){
    #img-fundo{
        background-image: url('../img/ekhytera_background_pattern2.png');
    }
    #bemVindo{
        display: none;
    }
    #login{
        left: 0;
        height: 100vh;
        width: 100%;
    }
    div input{
        width: 90%;
        background: rgba(255, 255, 255, 0.2);
    }
}