body {
    background-color: rgba(13, 27, 42, 1);
    color: rgba(224, 225, 221, 1);
}

main h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 2rem;
}

main a {
    text-decoration: underline 1.4px;
    color: rgba(224, 225, 221, 1);
}

main a:hover {
    color: rgba(224, 225, 221, 0.7);
}

main .content {
    background-color: rgba(0, 0, 0, 0.555);
    margin: 1rem;
    padding: 1rem;
}

main .capa-content {
    display: flex;
    flex-basis: 150px;
    flex-grow: 200px;
    flex-shrink: 132px;
}

main .capa-content img {
    width: 100%;
}

main .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
}

main .container .autor {
    color: rgba(224, 225, 221, 1);
    font-size: .8rem;
}

main .container .title-tema {
    display: flex;
    flex-wrap: wrap;
}

main .container .title-tema h3 {
    font-weight: bold;
}

main .container .title-tema p {
    border: solid 2px rgba(65, 90, 119, 1);
    width: fit-content;
    padding: .2rem;
    color: rgba(65, 90, 119, 1);
    border-radius: 15px;
}

main .content p,
main .content .symbols i {
    padding-inline-start: 1rem;
}

main .content .symbols i {
    margin-inline-end: 1rem;
    font-size: 1.3rem;
}

main .like {
    Color: blue;
    pointer-events: none;
}

main .content-icons {
    display: flex;
}

main .content-icons i {
    margin-right: .3rem;
    font-size: 1.3rem;
    cursor: pointer;
}

main .content-icons i:nth-child(1n) {
    margin-inline-start: 1rem;
}

main #verMais {
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: rgba(224, 225, 221, 1);
    background: none;
    border: 2px solid rgba(224, 225, 221, 1);
    padding: .5rem;
    font-weight: bold;
}

main #verMais:hover {
    background-color: rgba(224, 225, 221, 1);
    color: rgba(13, 27, 42, 1);
    border-radius: 5px;
    transition: .3s;
}

main .educacao {
    margin-top: 5rem;
    margin-inline: 1rem;
}

main .educacao .destaques {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

}

main .educacao .destaques .not1 {
    background-color: rgba(0, 0, 0, 0.393);
    background-image: url('https://ekhytera.github.io/newEkhytera/imgs/noticiaacer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main .educacao .destaques .not1:hover {
    background-blend-mode: darken;
    padding-bottom: 2rem;
}

main .educacao .destaques .not2 {
    background-color: rgba(0, 0, 0, 0.393);
    background-image: url('https://ekhytera.github.io/newEkhytera/imgs/g1-tecnologia.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main .educacao .destaques .not2:hover {
    background-blend-mode: darken;
    padding-bottom: 2rem;
}

main .educacao .destaques .not3 {
    background-color: rgba(0, 0, 0, 0.393);
    background-image: url('https://ekhytera.github.io/newEkhytera/imgs/010150240401-processador-recozimento-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

main .educacao .destaques .not3:hover {
    background-blend-mode: darken;
    padding-bottom: 2rem;
}

main .noticias {
    margin-inline: .5rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
}

main .noticias .info {
    margin-top: 3rem;
    border-bottom: 1px solid;
}

main .noticias .info .title {
    font-weight: bold;
    margin: 0%;
}

main .noticias .container-noticias .posts-noticias {
    display: flex;
    flex-wrap: wrap;
}

main .noticias .container-noticias .posts-noticias h4 {
    font-weight: bold;
}

main .noticias .container-noticias .posts-noticias .img {
    margin: .5rem;
}

@media only screen and (min-width: 768px) {
    main .container {
        flex-direction: row;
    }

    main .educacao {
        margin-inline: 1rem;
        margin-top: 6rem;
    }

    main .educacao .destaques {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 3rem;
    }

    main .educacao .destaques .not1 {
        grid-column: span 2;
    }

    main .noticias {
        padding: 2rem;
    }

    main .container-noticias .posts-noticias,
    main .noticias .posts-destaques .posts-noticias {
        flex-direction: column;
        margin-inline: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        margin: 7rem;
    }

    main .container .title-tema p {
        font-size: 1.3rem;
        border-radius: 20px;
    }

    main .content-icons {
        align-items: center;
        font-size: 1.3rem;
    }

    main .content-icons i {
        margin-right: .3rem;
        font-size: 1.5rem;
    }

    main .content-icons i:nth-child(1n) {
        margin-inline-start: 1.5rem;
    }

    main .container .title-tema {
        width: 100%;
        justify-content: space-between;
    }

    main .noticias .info {
        justify-content: center;
        gap: 5rem;
        border-bottom: 1px solid white;
    }

    main .container-noticias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        height: 800px;
        overflow-x: auto;
    }

    main .container-noticias .posts-noticias {
        grid-column: span 1;
        border-bottom: 1px white solid;
    }
}