body {
    min-height: 100vh;
    /* background-image: url('https://ekhytera.github.io/newEkhytera/imgs/img-noise-500x500.png'); */
    background-color: rgba(13, 27, 42, 1);
    color: rgba(224, 225, 221, 1);
}

main h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 2rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    padding-right: 2rem;
}
main a {
    text-decoration: none;
    color: rgba(224, 225, 221, 1);
}

main a:hover {
    color: rgba(224, 225, 221, 0.7);
}

main button{
    background: none;
    border: none;
}

main .content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

main .capa-content {
    display: flex;
}

main .capa-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    max-width: 100%; /* essa regra está conflitando com alguma biblioteca (provavelmente bootstrap) pois ".container" também é uma classe do bootstrap */
}

main .container .autor {
    color: rgba(224, 225, 221, 1);
}

main .container .title-tema {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main .container .title-tema h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

main .content .symbols i {
    padding-inline-start: 1rem;
}

main .content .symbols i {
    margin-inline-end: 1rem;
    font-size: 1.3rem;
}

.like {
    Color: blue;
    pointer-events: none;
}

main .content-icons {
    display: flex;
}

main .content-icons button .likeIcon {
    margin: .3rem;
    cursor: pointer;
    color: rgba(224, 225, 221, 1);
}

main .content-icons .icon{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content-icons .icon span{
    margin: .3rem;
}
main .content-icons .icon button>img{
    max-width: 24px;
    min-width: 24px;
    max-height: 24px;
    min-height: 24px;
    object-fit: contain;
}

main #verMais {
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: rgba(224, 225, 221, 1);
    background: none;
    border: 2px solid rgba(224, 225, 221, 1);
    padding: .5rem;
    font-weight: bold;
}

main #verMais:hover {
    background-color: rgba(224, 225, 221, 1);
    color: rgba(13, 27, 42, 1);
    border-radius: 5px;
    transition: .3s;
}

main .noticias {
    margin-inline: .5rem;
}

main .noticias .info {
    border-bottom: 1px solid;
}

main .noticias .info .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0%;
}

main .noticias .container-noticias .posts-noticias {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}

main .noticias .container-noticias .posts-noticias h4 {
    font-weight: bold;
}

main .noticias .container-noticias .posts-noticias .img {
    margin: .5rem;
}
section.materiais, aside.noticias{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
}
section .content .container button.tag{
    margin-left: auto;
}
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main .content-icons {
        align-items: center;
    }

    main .container .title-tema {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    main .noticias .info {
        justify-content: center;
        border-bottom: 1px solid white;
    }

    main .container-noticias {
        display: flex;
        flex-direction: column;
        height: 700px;
        overflow-x: auto;
    }

    main .container-noticias .posts-noticias {
        border-bottom: 1px white solid;
    }
}







/* Config. de Botões */
.button, .tag {
    display: block;
    align-items: center;
    justify-content: center;
    border: none;
}.button, .iconButton, .tag{
    transition: 0.3s;
}
.button{
    padding: 0.5em 1em;
}
.tag{
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 16em;
    white-space: nowrap;
    padding: 0.2em 1em;
}
.vazado {
    border: 1px solid #E0E1DD;
    color: #E0E1DD;
    background-color: transparent;
}

.vazado:hover, .buttonAdd:hover {
    background-color: #e0e1dd;
    color: #191919;
}

.primario {
    background: rgb(65,90,119);
    background: linear-gradient(90deg, rgba(65,90,119,1) 0%, rgba(121,167,221,1) 100%); 
    color: #e0e1dd;
}

.primario:hover{
    background: rgb(84, 121, 164);
    background: linear-gradient(90deg, rgb(84, 121, 164) 0%, rgb(140, 194, 255) 100%); 
}

.secundario {
    background-color: transparent;
    color: #79a7dd;
    box-shadow: 0px 0px 0px 1px #79a7dd inset;
}
.secundario:hover {
    background-color: #79a7dd;
    color: #191919;
}

.arredondado {
    border-radius: 10em;
}

.buttonAdd{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    font-weight: bold;
    font-size: larger;
    background-color: transparent;
    color: #e0e1dd;
    border: 2px solid #e0e1dd;
}

/* Indicadores de status (online, ausente, dnd) */
.statusIndicator{
    display: inline-flex;
    width: 1em;
    height: 1em;
    border-radius: 50rem;
    background-color: rgb(29, 196, 93);
    margin-right: 0.5em;
}