hr {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

main{
	gap: 3rem
}

/* Parte de cima do post (foto de perfil e campo de texto) */
	article.post {
		background-color: rgba(0, 0, 0, 0.55);
		color: #E0E1DD;
		padding: 1rem;	
		margin-inline: 1rem;
	}

	article.post>p {
		margin-left: 4rem;
	}

	.postBody {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
	}

	.fotoPerfil {
		padding: 0.5rem;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		object-fit: cover;
	}

	.postAuthor {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	
	.postFooter{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.postFooter>span{
		font-weight: bold;
		margin-right: 1.5rem;
		margin-left: 0.1rem;
	}

	.postDetails{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.subtitle {
		opacity: 50%;
		font-weight: 200;
	}

	.categoryButtons{
		display: inline-flex;
		flex-direction: row;
	}.categoryButtons>*{
		margin-inline: 0.2rem;
	}
/* Input para digitar novo post */

	.writePostContainer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		border-top: 1px solid #E0E1DD;
		border-bottom: 1px solid #E0E1DD;
		border-left: none;
		border-right: none;
	}
	
	.writePost {
		display: flex;
		align-items: center;
		color: #E0E1DD;
		background-color: transparent;
		border: none;
		resize: none;
		width: 100%;
	}

	.writePost:focus {
		outline: 0;
		border: 0;
	}

	.writePost::placeholder {
		color: #E0E1DD;
		opacity: 60%;
		font-weight: bold;
	}

	.writePostFooter {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}

	.writePostFooter>div>* {
		margin-inline: 0.5rem;
	}

	.writePostCategories{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	
	@media only screen and (max-width: 992px){
		.writePostCategories>div{
			display: none;
		}
	}

/* Classe geral para botões com ícone dentro */
	.iconButton {
		display: inline-flex;
		padding: 0.5rem;
		border-radius: 50%;
		background-color: transparent;
		border: none;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}

	.iconButton>img {
		width: 1.5em;
		height: 1.5em;
		object-fit: contain;
	}
/* Troca cor quando está com o mouse em cima */
	.iconButton:hover {
		background-color: #e0e1dd50;
	}

/* Config. de Botões */
	.button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 1em;
		border: none;
	}.button, .iconButton{
		transition: 0.2s;
	}
	
	.vazado {
		border: 1px solid #E0E1DD;
		color: #E0E1DD;
		background-color: transparent;
	}

	.button.vazado:hover, .buttonAdd:hover {
		background-color: #e0e1dd;
		color: #191919;
	}

	.primario {
		background: rgb(65,90,119);
		background: linear-gradient(90deg, rgba(65,90,119,1) 0%, rgba(121,167,221,1) 100%); 
		color: #e0e1dd;
	}

	.primario:hover{
		background: rgb(84, 121, 164);
		background: linear-gradient(90deg, rgb(84, 121, 164) 0%, rgb(140, 194, 255) 100%); 
	}

	.secundario {
		background-color: transparent;
		color: #79a7dd;
		box-shadow: 0px 0px 0px 1px #79a7dd inset;
	}
	.secundario:hover {
		background-color: #79a7dd;
		color: #191919;
	}

	.arredondado {
		border-radius: 10em;
	}

	.buttonAdd{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		width: 1rem;
		height: 1rem;
		font-weight: bold;
		font-size: larger;
		background-color: transparent;
		color: #e0e1dd;
		border: 2px solid #e0e1dd;
	}