.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-30%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
    transition: all 2s;
}


