* {
    box-sizing: border-box;
    /* max-width: 100% */
}

body {
    background-image: url('https://ekhytera.github.io/newEkhytera/imgs/img-noise-500x500.png');
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.text_container {
    color: aliceblue;
    transition: ease-in 0.3s;
    position: relative;
}

.text_container::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(https://images.pexels.com/photos/1038916/pexels-photo-1038916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);
    mix-blend-mode: color-dodge;
}

.text_container h1 {
    font-weight: 700;
}

.blurry-light {
    position: absolute;
    margin-top: 50px;
    margin-left: -700px;
    width: 800px;
    height: 2000px;
    filter: blur(100px);
    background-image: radial-gradient(closest-side, rgba(121, 168, 221, 0.954), rgba(0, 0, 0, 0));
    transition: all 3s;
}

.blurry-light:nth-child(2) {
    position: absolute;
    margin-top: 400px;
    margin-left: 1200px;
    width: 800px;
    height: 1000px;
    filter: blur(100px);
    background-image: radial-gradient(closest-side, rgba(121, 168, 221, 0.954), rgba(0, 0, 0, 0))
}

.blurry-light:nth-child(3) {
    position: absolute;
    margin-top: 2800px;
    margin-left: -700px;
    width: 900px;
    height: 400px;
    filter: blur(100px);
    background-image: radial-gradient(closest-side, rgba(121, 168, 221, 0.954), rgba(0, 0, 0, 0));
    z-index: -1;
}

#text2 {
    position: relative;
    margin-top: 600px;
    width: 60%;
    text-align: justify;
}

.text_container h1,
p {
    color: aliceblue;
    margin: 50px;
}

.feather {
    width: 100px;
}

#equipe {
    position: relative;
    display: flex;
    /* margin-left: 150px; */
    flex-wrap: nowrap;
    width: 100%;
    font-size: 15px;
    gap: 20px;
    padding-bottom: 500px;
    padding-top: 100px;
}

#equipe::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);
    mix-blend-mode: color-dodge;
}

#equipe h3 {
    text-align: center;
}

#equipe p {
    display: inline;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
}

.image_space {
    background-position: 0px 0px;
    background-size: cover;
    width: 10px;
    height: 10px;
    padding: 60px;
    margin-left: 0px;
    border-radius: 50%;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#henrique {
    background-image: url(https://raw.githubusercontent.com/Ekhytera/newEkhytera/refs/heads/main/imgs/membros_equipe/henrique.png);
    transition-delay: 0.3s;
}

#eve {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/evellyn.jpg?raw=true);
    transition-delay: 1.5s;
}

#savyo {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/savyo.png?raw=true);
    background-size: 200px;
    background-position: -80px -10px;
    transition-delay: 0.9s;
}

#rian {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/rian.png?raw=true);
    transition-delay: 1.2s;
}

#pedro {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/pedrao.jpg?raw=true);
    transition-delay: 1.8s;
}

#luiz {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/luiz.jpg?raw=true);
    transition-delay: 2s;
}

#joao {
    background-image: url(https://github.com/Ekhytera/newEkhytera/blob/main/imgs/membros_equipe/joao.jpg?raw=true);
    transition-delay: 0.6s;
}

.membros img {
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
}

.membros {
    display: flex;
    flex-direction: column;
    position: relative;
}

#container3 {
    padding: 50px;
    text-align: center;
    position: relative;
}

#container3::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);
    mix-blend-mode: color-dodge;
}

#container3 blockquote {
    padding: 50px;
    position: relative;
}

#container3 #logo_vazada1 {
    width: 100%;
    max-width: 400px;
}

@media only screen and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }

    #equipe {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blurry-light:nth-child(2) {
        display: none;
    }
}

.redes {
    display: none;
    position: absolute;
    top: -50px;
    z-index: 5;
    gap: 1rem;
    background-color: hsla(0, 0%, 10%, 1);
    width: fit-content;
    padding: 1rem;
    border: solid 1px white;
    border-radius: 15px;
    animation: transition .5s;
}

.redes a,
.redes a>i {
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.redes a>i:hover {
    transition: .3s;
    color: rgba(240, 248, 255, 0.6);
    transform: scale(1.3);
}

@keyframes transition {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}


@media only screen and (max-width: 728px) {
    body {
        overflow-x: hidden;
    }

    .blurry-light:nth-child(1) {
        margin-top: -30px;
        height: 700px;
    }

    .blurry-light:nth-child(2) {
        margin-left: 650px;
        margin-top: 300px;
    }

    .blurry-light:nth-child(3) {
        margin-top: 2500px;
    }

    .text_container p {
        font-size: 1.5ch;
    }

    #container3 {
        font-size: 1.5ch;
        margin-top: -40px;
    }
}



@media only screen and (min-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    #img3 {
        margin-top: 2300px;
    }

    .blurry-light:nth-child(2) {
        width: 200px;
        margin-left: 1350px;
    }
}

.blurry-light:nth-child(3) {
    margin-top: 2200px;
}

.conf p {
    margin: 0;
    margin-bottom: 16px;
}

.txtfooter{
    margin: 0;
    margin-bottom: 1rem;
}