@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    background-image: url(../imgs/ekhytera_background_pattern1.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 2rem;
}

#bemVindo{
    width: 50%;
    display: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.01);
    border: 2px solid #E0E1DD;
    backdrop-filter: blur(12.5px);
    border-radius: 47px;
    color: white;
}
#bemVindo p{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}
#login{
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(12.5px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    padding-inline: 1rem;
}
#login .logo{
    width: 180px;
}
#login div{
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}
div label{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
div input{
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    padding: 10px;
}
div #senha, div #addSenha, div #senhaNova, div #confSenha{
    background-color: transparent;
}
#login form div #viewPassword{
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#login div #viewPassword img{
    width: 30px;
}
#verSenha, #verSenhaCad , #nSenha, #cSenha{
    cursor: pointer;
}

.erro, #senhaDiferentes, #emailNaoEnc, #senhaInv{
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 250px;
}
a{
    color: white;
    text-decoration: none;
}
.entrarBtn{
    width: 50%;
    padding: 0.75rem;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(121,167,221,1) 0%, rgba(65,90,119,1) 100%);
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (min-width: 992px){
    #bemVindo{
        display: flex;
        width: 50%;
        margin-block: 2rem;
        margin-inline: 4rem;
    }

    #bemVindo p{
        margin-left: 2rem;
    }

    #login{
        width: 50%;
    }
}

@media only screen and (min-width: 1200px){
    #login div{
        width: 70%;
    }

    #login div #viewPassword{
        width: 100%;
    }
}