main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
main .selectors {
    display: flex;
    gap: 1rem;
}
main .selectors button {
    background: none;
    color: white;
    border: none;
    font-weight: bold;
}

main .selectors .selected{
    border-bottom: 5px solid #79A7DD;
}

main .carrossel{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

main .carrossel i{
    cursor: pointer;
    font-size: 22px;
    height: auto;
}

main .carrossel .images :nth-child(2), main .carrossel .images :nth-child(3), main .carrossel .images :nth-child(4){
    display: none;
}

main .carrossel .images .carrossel-image{
    width: 275px;
    height: 450px;
    background-image: url('/imgsCarrossel/csgoCar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .mais-opcoes{
    padding: 0.5rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.3s;
}

main .mais-opcoes:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
}